@model Cadeteria.ViewModels.PedidoViewModel

@{
    ViewData["Title"] = "EditarPedido";
}

<h1>@ViewData["Title"]</h1>

<div>
    @using(Html.BeginForm("EditarPedido", "Pedidos", FormMethod.Post))
    {
        <section class="form-group">
            <label for="Estado">Estado Del Pedido: </label>
            <input type="text" name="Estado" class="form-control" value="@Model.Estado">
        </section>
        <section class="form-group">
            <label for="NombreCliente">Nombre del cliente: </label>
            <input type="text" name="NombreCliente" class="form-control" value="@Model.NombreCliente">
        </section>
        <section class="form-group">
            <label for="DireccionCliente">Direccion del cliente: </label>
            <input type="text" name="DireccionCliente" class="form-control" value="@Model.DireccionCliente">
        </section>
        <section class="form-group">
            <label for="Obs">Observacion: </label>
            <input type="text" name="Obs" class="form-control" value="@Model.Obs">
        </section>
        <section class="form-group">
            <label for="CadeteId">Id del cadete: </label>
            <input type="number" name="CadeteId" class="form-control" value="@Model.CadeteID">
        </section>
            <input type="hidden" name="Nro" value=@Model.Nro >
            <input type="hidden" name="ClienteId" value=@Model.ClienteID >
            <button type="submit" class="btn btn-primary">Enviar</button>
    }
</div>