@model Cadeteria.ViewModels.PedidoViewModel

@{
    ViewData["Title"] = "EditarPedido";
    List<SelectListItem> listadoCadetes = (List<SelectListItem>)ViewBag.listadoCadetes;
}

<div class="d-grid gap-3">
    <div class="row">
        <h1 class="text-center col">@ViewData["Title"]</h1>
    </div>
    <div class="d-flex justify-content-center align-middle">
        <form asp-action="EditarPedido" asp-controller="Pedidos" method="post" class="d-grid gap-3 border border-3 box-shadow mb-3" style="padding: 2em; border-radius: 25px; border-color:#866BBF !important;">
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado del Pedido: </label>
                <select class="form-control" id="estado" name="estado" style="border-color:#C7B3F2">
                    @switch (Model.Estado)
                    {
                        case "Entregado":
                            <option value="En Curso">En Curso</option>
                            <option value="Entregado" selected>Entregado</option>
                            <option value="Pendiente">Pendiente</option>
                            break;
                        case "En Curso":
                            <option value="En Curso" selected>En Curso</option>
                            <option value="Entregado">Entregado</option>
                            <option value="Pendiente">Pendiente</option>
                            break;
                        default:
                            <option value="En Curso">En Curso</option>
                            <option value="Entregado">Entregado</option>
                            <option value="Pendiente" selected>Pendiente</option>
                        break;
                    }
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <section class="form-group">
                <label for="Obs">Observacion: </label>
                <input type="text" name="Obs" class="form-control" value="@Model.Obs" style="border-color:#C7B3F2">
                <span asp-validation-for="Obs" class="text-danger"></span>
            </section>
            <div class="form-group">
                <label for="CadeteID">Seleccione un Cadete:</label>
                @if (Context.Session.GetInt32("Rol") == 1)
                {
                <div class="form-group">
                    @Html.DropDownList("CadeteID",listadoCadetes,"Seleccione un cadete", new { @class="form-select",@style="border-color:#C7B3F2"})
                    <span asp-validation-for="CadeteID" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input type="text" value="@Context.Session.GetString("Nombre")" readonly class="form-control" style="border-color:#C7B3F2">
                        <span asp-validation-for="CadeteID" class="text-danger"></span>
                    </div>
                }
                <span asp-validation-for="CadeteID" class="text-danger"></span>
            </div>
                <input type="hidden" name="Nro" value=@Model.Nro >
                <input type="hidden" name="ClienteId" value=@Model.ClienteID >
                <input type="hidden" name="NombreCliente" class="form-control" value="@Model.NombreCliente">
                <input type="hidden" name="DireccionCliente" class="form-control" value="@Model.DireccionCliente">
                <input type="submit" value="Enviar" class="btn btn-primary" style="background-color:#866BBF; border-color:#866BBF">
        </form>
    </div>
</div>