@model Cadeteria.ViewModels.PedidoViewModel

@{
    ViewData["Title"] = "EditarPedido";
    List<SelectListItem> listadoCadetes = (List<SelectListItem>)ViewBag.listadoCadetes;
}

<h1>@ViewData["Title"]</h1>

<div>
    @using(Html.BeginForm("EditarPedido", "Pedidos", FormMethod.Post))
    {
        <div class="form-group">
            <label for="estado">Estado Del Pedido:</label>
            <select class="form-control" id="estado" name="estado">
                @switch (Model.Estado)
                {
                    case "Entregado":
                        <option value="En Curso">En Curso</option>
                        <option value="Entregado" selected>Entregado</option>
                        <option value="???">???</option>
                        break;
                    case "???":
                        <option value="En Curso">En Curso</option>
                        <option value="Entregado">Entregado</option>
                        <option value="???" selected>???</option>
                        break;
                    default:
                        <option value="En Curso" selected>En Curso</option>
                        <option value="Entregado">Entregado</option>
                        <option value="???">???</option>
                    break;
                }
            </select>
        </div>
        <section class="form-group">
            <label for="NombreCliente">Nombre del cliente: </label>
            <input type="text" name="NombreCliente" class="form-control" value="@Model.NombreCliente">
        </section>
        <section class="form-group">
            <label for="DireccionCliente">Direccion del cliente: </label>
            <input type="text" name="DireccionCliente" class="form-control" value="@Model.DireccionCliente">
        </section>
        <section class="form-group">
            <label for="Obs">Observacion: </label>
            <input type="text" name="Obs" class="form-control" value="@Model.Obs">
        </section>
        <div class="form-group">
            <label for="CadeteId">Seleccione un Cadete: </label>
            @Html.DropDownList("CadeteId", listadoCadetes, "Cadete...", new { @class="form-select"})
        </div>
            <input type="hidden" name="Nro" value=@Model.Nro >
            <input type="hidden" name="ClienteId" value=@Model.ClienteID >
            <button type="submit" class="btn btn-primary">Enviar</button>
    }
</div>