@model List<Cadeteria.ViewModels.PedidoViewModel>
@{
    ViewData["Title"] = "Listado";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Pedido nro</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Direccion</th>
            <th>Obs</th>
            <th>Cadete Asignado</th>
        </tr>
    </thead>
    <tbody class="table-striped" >
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@pedido.Nro</td>
                <td>@pedido.Estado</td>
                <td>@pedido.NombreCliente</td>
                <td>@pedido.DireccionCliente</td>
                <td>@pedido.Obs</td>
                <td>@pedido.CadeteID</td>
                <td>@using(Html.BeginForm("BorrarPedido", "Pedidos", FormMethod.Get))
                    {
                        <input type="hidden" name="id" value=@pedido.Nro >
                        <input type="submit" value="Borrar" class="btn btn-primary">
                    }</td>
                <td>@using(Html.BeginForm("EditarPedido", "Pedidos", FormMethod.Get))
                    {
                        <input type="hidden" name="id" value=@pedido.Nro >
                        <input type="hidden" name="Clienteid" value=@pedido.ClienteID >
                        <input type="submit" value="Editar" class="btn btn-primary">
                    }</td>
            </tr>
        }
    </tbody>
</table>

<section class="btn-group">
        <a href="AltaPedido" class="btn btn-primary btn-sm">Agregar Pedido</a>
</section>